{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ division.name }}  {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Divisions</a></li>
  <li class="breadcrumb-item active">{{ division.name }}</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
    <a href="{% url 'new_complain' division.pk %}" class="btn btn-primary">New Complain</a>
  </div>
{% if not user.is_superuser %}
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Topic</th>
        <th>Starter</th>
        <th>Replies</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
    
        {% for topic in topics_user %}
            {% url 'complain_details' division.pk topic.pk as topic_url %}
            <tr>
              <td>
                <p class="mb-0">
                  <a href="{{ topic_url }}">{{ topic.subject }}</a>
                </p>
              </td>
              <td class="align-middle">{{ topic.starter.username }}</td>
              <td class="align-middle">{{ topic.replies }}</td>
              <td class="align-middle">{{ topic.last_updated }}</td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% include 'includes/pagination.html' %}
{% endif %}

{% endblock %}